# Compiled Object files
*.slo
*.lo
*.o
*.out
cluster_process

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vim's YouCompleteMe artifatcts and scripts
.ycm_extra_conf.py
.ycm_extra_conf.pyc

# makefile and cmakefile files and artifacts
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt


# docs
docs/html

